<script>
  window.fbAsyncInit = function() {
    var appId = '390553027803781';
    if(window.location.hostname === "localhost") {
      appId = '1574766452785700';
    }
    FB.init({
      appId      : appId,
      xfbml      : true,
      version    : 'v2.3'
    });
    window.FBInitialized = true;
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>