<!doctype html>
<html>
  <head>
    <title>Prattle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <body>
    <form action="/create" method="POST">
      <input type="text" name="room_name" placeholder="name your room">
      <input type="submit" value="submit">
    </form>
    {{#each rooms}}
      <div>ROOM</div>
      <div>{{key}}</div>
      <div>{{name}}</div>
      <br/>
    {{/each}}
  </body>
  <script>
    var socket = io.connect("", {
      "connect timeout": 1000
    });

    socket.on('connect', function() {
      console.log("CONNECTED TO LOBBY");
    });

    socket.on('rooms update', function(data) {
      console.log("ROOMS UPDATE");
      console.log(data);
    });
  </script>
</html>