<!doctype html>
<html>
  <head>
    <title>Prattle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <body>
    <form action="/create" method="POST">
      <input type="text" name="room_name" placeholder="name your room">
      <input type="submit" value="submit">
    </form>
    {{#each rooms}}
      <div>ROOM</div>
      <div>{{key}}</div>
      <div>{{name}}</div>
    {{/each}}
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>