<!doctype html>
<html>
  {{> head}}
  <body>
    {{> auth}}
    here's your room. {{room.name}}
    <div class="room-count"></div>
    <div class="room">
      <div class="messages-list">
      </div>
      <div class="create-message-wrapper">
        <textarea id="create-message-text" type="text"></textarea>
        <div id="send-message-button" class="button">send</div>
      </div>
    </div>
  </body>
  {{> tail}}
  <script id="message_partial" type="text/template">
    <div class="message">
      <div class="avatar" style="background-image: url({avatarURL})"></div>
      <div class="user">{user}</div>
      <div class="contents">{contents}</div>
    </div>
  </script>
  <script src="/assets/js/bundle-room.js"></script>
</html>
