$green: #C0DD9D;
$blue: #B5E2EA;
$red: #D17484;
$purple: #9F99CB;
$orange: #E8B556;
$gray: #576565;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

html {
  background: white;
  color: $gray;
  font-family: 'Helvetica';
}

.main {
  position: relative;
  z-index: 1;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  top: 10vh;
}

.avatar {
  border-radius: 50%;
  position: absolute;
  &:nth-of-type(1) {
    background: rgba($green, 0.85);
  }
  &:nth-of-type(2) {
    background: rgba($blue, 0.85);
  }
  &:nth-of-type(3) {
    background: rgba($red, 0.85);
  }
  &:nth-of-type(4) {
    background: rgba($purple, 0.85);
  }
  &:nth-of-type(5) {
    background: rgba($orange, 0.85);
  }
  @for $i from 1 through 5 {
    &:nth-of-type(#{$i}) {
      $size: 100 + random(400);
      left: unquote(random(100) + "%");
      top: unquote(random(100) + "%");
      @include square(unquote($size + "px"));
      margin-left: unquote((-0.5 * $size) + "px");
      margin-top: unquote((-0.5 * $size) + "px");
    }
  }
}


