@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Maven+Pro:400,700);

@import "library";

@import "loader";

@import "views/index";
@import "views/room";

html {
  @extend %body-font;
  color: $black;
}

h1 {
  @extend %header-font;
}

.avatar {
  background-size: cover;
}

#auth-container {
  &[data-authenticated="true"] {
    #login_button {
      display: none;
    }
  }
  &[data-authenticated="false"] {
    .avatar {
      display: none;
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
}