[data-room="lobby"] {
  &.loading {
    .content {
      display: none;
    }
  }
  &:not(.loading) {
    .loader {
      display: none;
    }
  }
  
  text-align: center;
  h1 {
    font-size: 5rem;
  }

  &[data-mode="empty"] {
    h1 {
    }
  }

  &[data-mode="occupied"] {
    .empty-visible {
      display: none;
    }
  }
}