.squares-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .square {
    position: absolute;
    border: solid 1px red;
    @include transition(all 250ms);
  }
  pointer-events: none;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  rect {
    fill: none;
    stroke: red;
  }
}