.squares-container {
  $gradient-color: rgba($gray, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  @include transition(background-image $transition-duration);
  background-image: radial-gradient($gradient-color 0px, $gradient-color 1px, transparent 1px);

  .square {
    position: absolute;
    @include transition(all 250ms);
    opacity: 0;
    @include transform(scale(0.1));
    background: red;
    &[data-occupied="true"] {
      @include transform(scale(1));
      opacity: 1;
    }
  }
  pointer-events: none;
}

.users {
  &:before {
    content: "Currently chatting:";
  }
  margin-bottom: 90px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  rect {
    fill: none;
    stroke: red;
  }
}