#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  @include square(25px);
  line-height: 25px;
  text-align: center;
  @extend %header-font;
  color: $black;
  border: solid 2px $black;
  text-decoration: none;
}

#virtual-dom-container {
  position: fixed;
  top: 50px;
  bottom: 40px;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
  #room-info {
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
    border-bottom: solid 2px $black;
    font-size: 13px;
    .name {
      @extend %header-font;
      font-size: 24px;
      margin-bottom: 10px;
    }
    .creator, .createdAt, .onlineCount {
      display: inline-block;
      vertical-align: middle;
    }
    .creator {
      * {
        display: inline-block;
        vertical-align: middle;
      }
      span, .creator-name {
        margin-right: 5px;
      }
      span {
        margin-left: 10px;
      }
    }
    .avatar {
      @include square(30px);
    }
    .onlineCount {
      position: relative;
      margin-left: 20px;
      @include delimitingCircle(darken(whitesmoke, 10%), 5px);
      &:before {
        left: -12px;
        top: 6px;
      }
    }
  }
}


#current-user {
  .avatar {
    @include square(40px);
  }
}

.messages {
  position: relative;
  z-index: 1;
}

.squares-container {
  $gradient-color: rgba($gray, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  @include transition(background-image $transition-duration);
  background-image: radial-gradient($gradient-color 0px, $gradient-color 1px, transparent 1px);

  .square {
    position: absolute;
    @include transition(all 250ms);
    opacity: 0;
    @include transform(scale(0.1));
    border: solid 2px red;
    &[data-occupied="true"] {
      @include transform(scale(1));
      opacity: 1;
      .avatar {
        @include square(30px);
      }
    }
  }
  pointer-events: none;
}
