@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

%header-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

%body-font {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

@mixin delimitingCircle($bgColor, $size) {
  &:before {
    content: "";
    position: absolute;
    display: block;
    background-color: $bgColor;
    @include square($size);
    @include border-radius(50%);
  }
}